﻿@model LoginViewModel

@{
    ViewData["Title"] = "Login";
}

<div class="container-fluid">
    <div class="row">
        <h2>Login</h2>
    </div>
    <div class="row">
        <div class="col">

            @if (ViewBag.Message != null)
            {
                <div class="alert alert-info">@Html.Raw(@ViewBag.Message)</div>
            }

            @if (ViewBag.Error != null)
            {
                <div class="alert alert-danger">@Html.Raw(@ViewBag.Error)</div>
            }
            <form asp-controller="Login" asp-action="Login"
                  asp-routereturnurl="@ViewBag.ReturnUrl" method="post"
                  class="form-horizontal" role="form" id="loginForm">
                <div class="form-group">
                    <label asp-for="Username">Username</label>
                    <input asp-for="Username" type="text" class="form-control" placeholder="Enter username" />
                    <span asp-validation-for="Username" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Password">Password</label>
                    <input asp-for="Password" type="password" class="form-control" placeholder="Enter password" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <button type="submit" class="btn btn-primary">Login</button>
            </form>
        </div>
    </div>
</div>
