﻿$theme-colors: ( "primary": #009ADE, "danger": #E9002D, "warning": #FFAA00, "success":#00B000 );

$pink: #FF1F5B;
$green: #00CD6C;
$purple: #AF58BA;
$orange: #F28522;
$dark-blue: #045275;
$bright-yellow: #FFC61E;

$font-family-base: 'Open Sans', sans-serif;

body {
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Headers */
h1, h2, h3 {
    font-weight: 800;
}


/* Navigation Bar */
.logo {
    padding-left: 10px;
    width: 40px;
    height: 100%;
}

.navbar {
    background-color: var(--dark-blue);
    border: 0;
}

.nav-blue {
    color: var(--blue);
    font-weight: 800;
}

.nav-green {
    color: var(--green);
    font-weight: 800;
}

.footer {
    padding: 10px;
    background-color: var(--dark-blue);
    color: white;
}
