﻿@model ProjectViewModel
@{
    ViewData["Title"] = "Projects";
}

<h2>Projects</h2>
<form asp-controller="Project" asp-action="Show" method="get">
    <div class="col-sm-8 col-xs-12">
        <select asp-for="Id" asp-items="@Model.GetProjects()"
                class="form-group form-control" onchange="this.form.submit();">
            <option selected style="display:none;">Select Project</option>
        </select>
    </div>

    <p />
    <div class="col-sm-8 col-xs-12">
        <button type="submit" class="btn btn-primary" asp-controller="Project" asp-action="New" formmethod="get">
            Create New Project
        </button>
    </div>
</form>
