﻿@model ProjectViewModel
@{
    ViewData["Title"] = "Projects";
}

<h2 class="display-2">Create New Project</h2>
<form asp-controller="Project" asp-action="Create" method="post">
    <p/>
    <div class="form-group col-12">
        <label>Project Name:</label>
        <input type="text" asp-for="ProjectName" class="form-control">
        <span asp-validation-for="ProjectName" class="text-danger"></span>
    </div>
    <p />
    <div class="form-group col-12">
        <label>Team in Charge:</label>
        <select asp-for="TeamId" asp-items="@(new SelectList(Model.Teams,"Id","Name"))" class="form-control">
            <option selected style="display:none;">Select Team</option>
        </select>
    </div>
    <div class="form-group col-12">
        <label>Pivotal Tracker Link:</label>
        <input type="text" asp-for="PivotalTrackerLink" class="form-control">
        <span asp-validation-for="PivotalTrackerLink" class="text-danger"></span>
    </div>
    <div class="form-group col-12">
        <label>Initial Velocity:</label>
        <input type="text" asp-for="InitialVelocity" class="form-control" value="">
        <span asp-validation-for="InitialVelocity" class="text-danger"></span>
    </div>
    <p />
    <div class="form-group col-12">
        <label>Project Start Date:</label>
        <div class="input-group date datepicker" data-provide="datepicker">
            <input asp-for="StartDate" type="text" class="form-control" value="" readonly="readonly">
            <div class="input-group-addon glyphicon glyphicon-th"></div>
        </div>
    </div>
    <p />
    <div class="form-group col-12">
        <label>Hours Per Story Point:</label>
        <input type="text" asp-for="HoursPerStoryPoint" class="form-control" value="">
        <span asp-validation-for="HoursPerStoryPoint" class="text-danger"></span>
    </div>
    <p />
    <button type="submit" class="btn btn-primary">
        Create
    </button>
</form>
