﻿@model ProjectViewModel
@{
    ViewData["Title"] = @Model.ProjectName;
}

<div class="row">
    <div class="col-xs-4"><h1 style="margin-top: 6%;">@Model.ProjectName</h1></div>
    <div class="col-xs-4">
        <form asp-controller="Backlog" asp-action="Show" asp-route-id="@Model.Id" method="get">
            <button class="btn btn-primary backlog-btn" type="submit">
                View Backlog
            </button>
        </form>
    </div>
</div>
<h3 class="h3">Team: @Model.Team.Name</h3>
<h3 class="h3" style="margin-bottom: 50px;">Team Number: @Model.Team.Id</h3>
<p />
<div class="col-sm">
    @{
        if (Model.Users != null)
        {
            <h4 class="text-primary">Users assigned to the project:</h4>
            foreach (User user in Model.Users)
            {
                <div>@user.FirstName @user.LastName</div>
            }
        }
    }
</div>
<div class="col-sm" style="margin-top: 50px;">
    <p />
    <h4 class="text-primary">Project Information:</h4>
    <label>Start Date: @Model.StartDate.ToShortDateString()</label>
    <br />
    <label>Initial Velocity: @Model.InitialVelocity</label>
    <br />
    <label>Pivotal Tracker Link: <a href="@Model.PivotalTrackerLink">@Model.PivotalTrackerLink</a></label>
    <br />
    <label>Hours Per Story Point: @Model.HoursPerStoryPoint</label>
</div>
