﻿@model StoryViewModel
@{
    ViewData["Title"] = "Story Details";
}

<div class="container">
    <div class="row">
        <h2 class="h2">Story Details</h2>
    </div>
</div>
<form asp-controller="Backlog" asp-action="Update" method="post">
    <p />
    <div class="form-group col-12">
        <label>Story Name:</label>
        <input type="text" asp-for="Name" class="form-control" value="@Model.Name">
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <p />
    <div class="form-group col-12">
        <label>Story Description:</label>
        <textarea type="text" asp-for="Description" class="form-control" rows="3">@Model.Description</textarea>
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>
    <div class="form-group col-12">
        <label>Relative Estimate (in points):</label>
        <input type="text" asp-for="RelativeEstimate" class="form-control" value="@Model.RelativeEstimate">
        <span asp-validation-for="RelativeEstimate" class="text-danger"></span>
    </div>
    <div class="form-group col-12">
        <label>Status:</label>
        <select asp-for="Status" class="form-control">
            @{List<string> statuses = new List<string>() { "Planned", "Started", "Delivered" };}
            @foreach (string status in statuses)
            {
                if (status == Model.Status)
                {
                    <option selected="selected">@status</option>
                }
                else
                {
                    <option>@status</option>
                }
            }
        </select>
    </div>
    <p />
    <input type="hidden" asp-for="Id" />
    <input type="hidden" asp-for="ProjectId" />
    <button type="submit" class="btn btn-primary">
        Update
    </button>
</form>