﻿@model StoryViewModel
@{
    ViewData["Title"] = "Story";
}

<div class="container">
    <div class="row">
        <h2 class="h2">Create a New Story</h2>
    </div>
</div>
<form asp-controller="Backlog" asp-action="Create" method="post">
    <p />
    <div class="form-group col-12">
        <label>Story Name:</label>
        <input type="text" asp-for="Name" class="form-control">
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <p />
    <div class="form-group col-12">
        <label>Story Description:</label>
        <textarea type="text" asp-for="Description" class="form-control" rows="3"></textarea>
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>
    <div class="form-group col-12">
        <label>Relative Estimate (in points):</label>
        <input type="text" asp-for="RelativeEstimate" class="form-control" value="">
        <span asp-validation-for="RelativeEstimate" class="text-danger"></span>
    </div>
    <p />
    <input type="hidden" asp-for="ProjectId"/>
    <button type="submit" class="btn btn-primary">
        Create
    </button>
</form>