﻿@model BacklogViewModel
@{
    ViewData["Title"] = "Backlog";
}

<div class="container">
    <div class="row">
        <div class="col-xs-4"><h1 style="margin-top: 6%; font-weight: 300;">@Model.Project.Name Product Backlog</h1></div>
        <div class="col-xs-4">
            @using (Html.BeginForm("New", "Backlog", new { id = Model.Project.Id }))
            {
                <button type="submit" class="btn btn-primary backlog-btn">Add New Story</button>
            }
        </div>
    </div>
    <p />
    @if (@Model.CurrentSprint != null)
    {
        <h2 style="font-weight: 300;">Current Sprint (@Model.CurrentSprint.StartDate.ToShortDateString() - @Model.CurrentSprint.EndDate.ToShortDateString())</h2>
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Story Name</th>
                    <th scope="col">Relative Estimate</th>
                    <th scope="col">Hours Worked</th>
                    <th scope="col">User Assigned</th>
                    <th scope="col">Status</th>
                </tr>
            </thead>
            <tbody>
                @foreach (Story story in Model.CurrentSprintStories)
                {
                    <tr>
                        <th scope="row">@story.Id</th>
                        <td>@Html.ActionLink(story.Name, "Details", new { id = story.Id })</td>
                        <td>@story.RelativeEstimate</td>
                        <td>@story.HoursWorked</td>
                        <td>@story.UserId</td>
                        <td>@story.Status</td>
                    </tr>
                }
            </tbody>
        </table>
    }
    <h2 style="margin-top: 5%; font-weight: 300;">Backlog</h2>
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Story Name</th>
                <th scope="col">Relative Estimate</th>
                <th scope="col">Hours Worked</th>
            </tr>
        </thead>
        <tbody>
            @foreach (Story story in Model.Stories)
            {
                <tr>
                    <th scope="row">@story.Id</th>
                    <td>@Html.ActionLink(story.Name, "Details", new { id = story.Id })</td>
                    <td>@story.RelativeEstimate</td>
                    <td>@story.HoursWorked</td>
                </tr>
            }
        </tbody>
    </table>
</div>