﻿@model TeamViewModel
@{
    ViewData["Title"] = "Teams";
}

<div class="container">
    <div class="row">
        <h2>Teams</h2>
    </div>
    <div class="row">
        <form asp-controller="Team" asp-action="Show" method="get">
                <select asp-for="Id" asp-items="@Model.GetTeams()"
                        class="form-group form-control" onchange="this.form.submit();">
                    <option selected style="display:none;">Select Team</option>
                </select>

            <p />
                <button type="submit" class="btn btn-primary" asp-controller="Team" asp-action="New" formmethod="get">
                    Create New Team
                </button>
        </form>
    </div>
</div>

