﻿@model TeamViewModel
@{
    ViewData["Title"] = "Create New Team";
}
<h2 class="h3">Create New Project</h2>
<form asp-controller="Team" asp-action="Create" method="post">
    <p />
    <div class="form-group">
        <label>Team Name:</label>
        <input type="text" asp-for="Name" class="form-control">
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">
        Create Team
    </button>
</form>