﻿@model TeamViewModel
@{
    ViewData["Title"] = "Remove Team Member";
}

<div class="container">
    <div class="row">
        <h2>Team: @Model.Name</h2>
    </div>
    <div class="row">
        <form asp-controller="Team">
            <select asp-for="Id" asp-items="@Model.GetTeamUsers()" class="form-group form-control">
                <option selected style="display:none;"></option>
            </select>
            <button type="submit" class="btn btn-primary"
                    asp-controller="Team" asp-action="RemoveMember" formmethod="post" asp-route-teamid="@Model.Id">
                Remove Team Member
            </button>
            <button onclick="history.go(-1)" type="button" class="btn btn-warning">Back</button>
        </form>
    </div>
</div>
