﻿@model TeamViewModel
@{
    ViewData["Title"] = @Model.Name;
}

<div class="container">
    <div class="row">
        <h1 class="h1">@Model.Name</h1>
    </div>
    <div class="row">
        <h3 class="h3" style="margin-bottom: 25px;">Team Number: @Model.Id.ToString()</h3>
    </div>


    @{
        if (Model.Users != null && Model.Users.Count != 0)
        {
            <div class="row">
                <h4 class="text-primary">Members assigned to the team:</h4>
            </div>
            <div class="row">
                <div class="col-sm">
                    @foreach (User user in Model.Users)
                    {
                        <div>@user.FirstName @user.LastName</div>
                    }
                </div>
                .
            </div>
        }
        else
        {
            <div class="row">
                <h4 class="text-primary">Team has 0 members</h4>
            </div>
        }
    }

    <div class="row">
            @{
                <a asp-area="" class="btn btn-primary m-1" asp-controller="Team" asp-action="Add" asp-route-id="@Model.Id">
                    Add Member
                </a>
                <a asp-area="" class="btn btn-danger m-1" asp-controller="Team" asp-action="Remove" asp-route-id="@Model.Id">
                    Remove Member
                </a>
            }
    </div>
</div>