body {
  padding-bottom: 20px; }

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
  padding-left: 15px;
  padding-right: 15px; }

/* Headers */
h1, h2, h3 {
  font-weight: 800; }

/* Navigation Bar */
.logo {
  padding-left: 10px;
  width: 40px;
  height: 100%; }

.navbar {
  background-color: var(--dark-blue);
  border: 0; }

.nav-blue {
  color: var(--blue);
  font-weight: 800; }

.nav-green {
  color: var(--green);
  font-weight: 800; }

.col-sm {
    padding: 0;
}

.text-primary {
    color: var(--purple) !important;
    font-weight: 800;
}

.backlog-btn {
    margin: 25%;
}

.footer {
  padding: 10px;
  background-color: var(--dark-blue);
  color: white; }
