﻿<!-- Footer -->
<footer class="footer navbar fixed-bottom navbar-dark bg-dark">

    <!-- Copyright -->
    <h6 class="footer-copyright text-center">
        © 2019 Copyright Candis Bross / Elizabeth Williams
    </h6>
    <!-- Copyright -->

</footer>
<!-- Footer -->