﻿@model RegisterViewModel
@{
    ViewData["Title"] = "Register";
}

<div class="container-fluid">
    <div class="row">
        <h2>Register</h2>
    </div>
    <div class="row">
        <div class="col">

            @if (ViewBag.Message != null)
            {
                <div class="alert alert-danger">@Html.Raw(@ViewBag.Message)</div>
            }
            <form asp-controller="Register" asp-action="Register" class="form-horizontal" method="post" role="form" id="registerForm">
                <div class="form-group">
                    <label asp-for="Username">Username</label>
                    <input asp-for="Username" class="form-control" placeholder="Enter username" />
                    <span asp-validation-for="Username" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Email">Email Address</label>
                    <input asp-for="Email" type="email" class="form-control" placeholder="Enter email address" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Firstname">First Name</label>
                    <input asp-for="Firstname" class="form-control" placeholder="Enter first name" />
                    <span asp-validation-for="Firstname" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Lastname">Last Name</label>
                    <input asp-for="Lastname" class="form-control" placeholder="Enter last name" />
                    <span asp-validation-for="Lastname" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Password">Password</label>
                    <input asp-for="Password" type="password" class="form-control" placeholder="Enter password" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="RepeatPassword"></label>
                    <input asp-for="RepeatPassword" type="password" class="form-control" placeholder="Repeat password" />
                    <span asp-validation-for="RepeatPassword" class="text-danger"></span>
                </div>
                <button type="submit" class="btn btn-primary">Register</button>
            </form>
        </div>
    </div>
</div>
