﻿@{
    ViewData["Title"] = "Home";
}

<div class="container">
    <div class="row">
        <h2>Sprint Retrospective</h2>
    </div>
    <div class="row">
        <p>
            @if (ViewBag.Message != null)
            {
                @ViewBag.Message
            }
        </p>
    </div>
</div>

